In [7]:
from create_cluster import DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT,DWH_DB, DWH_CLUSTER_IDENTIFIER, redshift

In [11]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cb2lacvxvczc.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

___
### Select top 10 `song_id`'s from `songplays` table:

In [14]:
%%sql
select sp.song_id FROM songplays sp limit 10;

 * postgresql://dwhuser:***@dwhcluster.cb2lacvxvczc.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SONHWUN12AC468C014',),
 ('SONHWUN12AC468C014',),
 ('SONHWUN12AC468C014',),
 ('SORKDUM12A6D4FA813',),
 ('SOCJWPI12A8C13D357',),
 ('SOAECHX12A6D4FC3D9',),
 ('SOKUCXB12A6D4FAC0C',),
 ('SOABIXP12A8C135F75',),
 ('SOIKPOX12A58A7BA0B',),
 ('SOKUCXB12A6D4FAC0C',)]

___

In [15]:
%sql SELECT * FROM songplays WHERE song_id IS NOT NULL LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cb2lacvxvczc.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(5, datetime.datetime(2018, 11, 7, 15, 16, 17), 2, 'free', 'SOTJEIC12A8C139054', 'AR0OTEX1187FB3600D', 323, 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (18, datetime.datetime(2018, 11, 10, 9, 29, 42), 44, 'paid', 'SOWLLXC12AB0180FFE', 'AR66PLO1187FB4C8E5', 350, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (26, datetime.datetime(2018, 11, 26, 18, 34, 29), 92, 'free', 'SOZDGSX12A8C139AA7', 'ARYPTWE1187FB49D64', 938, 'Palestine, TX', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (31, datetime.datetime(2018, 11, 22, 17, 18, 20), 83, 'free', 'SOSJEEG12A6BD5571F', 'AR8RQVM1187B9A2645', 772, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (39, datetime.datetime(2018, 11, 29, 17, 49, 47), 75, 'free', 'SOAOXTT12AB0182E23', 'AROSIKT1187B9A4D53', 721, 'Columbia, SC', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"')]

___
### Select most popular songs played on weekend:

In [17]:
%%sql 
SELECT s.title, count(*)
FROM songplays sp
JOIN songs s ON s.song_id = sp.song_id
JOIN time t ON sp.start_time = t.start_time
WHERE t.weekday in ('Saturday', 'Sunday')
GROUP BY s.title
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cb2lacvxvczc.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[("You're The One", 3),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 2),
 ('Caught Up In You', 2),
 ('Up Up & Away', 2),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 2),
 ('From The Ritz To The Rubble', 2),
 ('Never Saw It Coming', 1),
 ('Beautiful', 1),
 ("Let's Get It Started", 1),
 ('Yippiyo-Ay', 1)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).